<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite" parallel="methods" thread-count="5" data-provider-thread-count="3">
    <parameter name="env" value="testing"/>
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="Admin Authorization Tests" preserve-order="false">
        <classes>
            <class name="base.web.authorization.AdminAuthorizationTests"/>
        </classes>
    </test>
</suite>
